* {
    font-family: 'Poppins', sans-serif;
    background: white;
}

body {
    margin: 0;
    padding: 0;
    height: 1000px;
    background-image: url('background.png');
    background-position: center;
    background-size: cover;
}

.name {
    color: #454446;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    margin-left: 20px;
    font-size: 18px;
}

/* reference : w3shcools.com/howto */
.topnav {
    overflow: hidden;
}
/* style the links inside of the topnav */
.topnav a{
    float: left;
    color: #454446;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 17px;
}
/* hover: change the color when mouse sits */
.topnav a:hover {
    background-color: #454446;
    color: white;
}

.box {
    width: 400px;
    position: relative;
    float: center;
    background-color: white;
    padding: 40px;
    text-align: center;
    margin: auto;
    color: #454446;
    font-size: 16px;
}
.box-img {
    border-radius : 50%;
    width: 200px;
    height: 200px;
}
.box h1 {
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 100;
}
.box h5 {
    font-size: 25px;
    letter-spacing: 3px;
}
.box a {
    font-size: 18px;
    color:#454446;
    text-decoration: none;
    line-height: 1.2;
}
.box p {
    padding: 5px;
}
.footer {
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 10px;
    left: 0;
}
